*{
    padding: 0;
    margin: 0;
    font-family: "micross";
  }
  body, html{
    overflow-x: hidden;
  }
  @font-face{
    font-family: "micross";
    src: url(../fonts/ViridianCollege.otf);
}
a{
    text-decoration: none;
}

body{
    background-color: rgb(10, 10, 10);
}

ul li{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 1;
}
/*стиль зміни коліру панелі меню при прокрутці*/
.scrolling{
    background-color: rgba(10, 10, 10, 1);
    transition: 1s;
}
.nav_ul{
    display: flex;
    justify-content: space-around;
}
.nav_ul li{
    margin-left: 15px;
    margin-right: 15px;
}
.nav_ul li a{
    color: white;
}
.nav_ul li a:hover{
    color: #E60F0F;
}
#logo{
    display: none;
}
#burger{
    display: none;
}


#main{
    width: 100%;
    background-color: rgba(15, 15, 15, 1);
}


.parallax_photo_1, .parallax_photo_2, .parallax_photo_3, .parallax_photo_4{
    -webkit-position: relative;
    -moz-position: relative;
    position: relative;

    -webkit-background-position: center;
    -moz-background-position: center;
    background-position: center;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    background-repeat: no-repeat;

    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    background-attachment: fixed;

    opacity: 0.5;
}
.parallax_photo_1{
    background-image: url(../img/index_1_parallax.jpg);

    -webkit-min-height: 100%;
    -moz-min-height: 100%;
    min-height: 100%;

    -webkit-display: flex;
    -moz-display: flex;
    display: flex;

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}
.parallax_photo_2{
    background-image: url(../img/index_2_parallax.jpg);

    -webkit-height: 600px;
    -moz-height: 600px;
    height: 600px;

    -webkit-display: flex;
    -moz-display: flex;
    display: flex;

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}
.parallax_photo_3{
    background-image: url(../img/index_3_parallax.jpg);

    -webkit-height: 600px;
    -moz-height: 600px;
    height: 600px;

    -webkit-display: flex;
    -moz-display: flex;
    display: flex;

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}
.parallax_photo_4{
    background-image: url(../img/index_4_parallax.jpg);

    -webkit-height: 600px;
    -moz-height: 600px;
    height: 600px;

    -webkit-display: flex;
    -moz-display: flex;
    display: flex;

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

#main2{
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#section_A{
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div_A_1{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.div_A_1 p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FCFCFC;
}
.div_A_1 p:hover{
    color: #E60F0F;
}



.div_A_2{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.div_A_2_1, .div_A_2_2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.div_A_2_1{
    padding: 20px;
}
.div_A_2_1 p {
    font-size: 23px;
    color: #FCFCFC;
    text-align: justify;
}
.div_A_3{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_A_3_1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_A_3_1 p{
    font-size: 15px;
    color: #FCFCFC;
}
.div_A_3_1 p:hover{
    color: #E60F0F;
}




#section_B{
    margin-top: 50px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_B_1 p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FCFCFC;
    padding: 20px;
}
.div_B_1 p:hover{
    color: #E60F0F;
}
.div_B_2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.div_B_2_2 p{
    font-size: 23px;
    text-align: justify;
    color: #FCFCFC;
}
.div_B_2_4{
    display: none;
}
.div_B_2_2{
    padding: 20px;
}
.div_B_3{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_B_3_1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_B_3_1 p{
    font-size: 15px;
    color: #FCFCFC;
}
.div_B_3_1 p:hover{
    color: #E60F0F;
}






#section_C{
    margin-top: 50px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div_C_1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FCFCFC;
    padding: 20px;
}
.div_C_1 p{
    color: #FCFCFC;
}
.div_C_1 p:hover{
    color: #E60F0F;
}
.div_C_2{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_C_2_1 p{
    font-size: 23px;
    color: #FCFCFC;
    text-align: justify;
}
.div_C_3{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_C_3_1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_C_3_1 p{
    font-size: 15px;
    color: #FCFCFC;
}
.div_C_3_1 p:hover{
    color: #E60F0F;
}






#footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
}
#footer .footer_div{
    background-color: rgba(15, 15, 15, 1);
    padding: 30px;
    border-radius: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer_div a{
    font-size: 35px;
    color: #FCFCFC;
}
#footer .footer_div a:hover{
    color: #E60F0F;
}






@media (min-width: 320px) and (max-width: 1024px){
    html, body{
        height: 100%;
    }
    #wrapper{
		height: 100%;
	}


    nav{
        background-color: rgba(10, 10, 10, 1);
        align-items: center;
    }
    #logo{
        display: block;
    }
    #logo img{
        width: 35px;
        height: 35px;
    }
    #burger{
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
    .nav_ul{
        flex-direction: column;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(10, 10, 10, 1);
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        width: 80%;
    }
    .nav_ul li{
        opacity: 0;
    }

    .div_A_2{
        flex-direction: column;
    }
    .div_A_2_1, .div_A_2_2{
        width: 80%;
    }




    .div_B_2_1{
        display: none;
    }
    .div_B_2{
        flex-direction: column;
    }
    .div_B_2_4{
        display: block;
    }


    .div_C_2{
        flex-direction: column;
    }
    #fall_emoji{
        width: 200px;
    }

    #footer{
        height: 150px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(30px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}